/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* VARIABLES */
:root {
  --primary: #080936;
  --secondary: #ffc636;
  --text-color: #dddbff;
  --border-color: #20214A;
  --primary-rgba-8: rgba(8, 9, 54, 0.8);
  --secondary-rgba-5: rgba(255, 198, 54, 0.5);
  --button-color: #0A0B5B;
  --button-color-hover: #080848;
}

/* BASE */
* {
  font-family: 'Quicksand', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/images/lined-paper.png);
  background-color: var(--primary);
  font-weight: 400;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* MAIN */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* TODO */
.todo {
  background-color: var(--primary-rgba-8);
  border: 1px solid var(--secondary);
  border-radius: 10px;
  padding: 45px;
  -webkit-box-shadow: var(--secondary-rgba-5) 0px 5px 20px;
          box-shadow: var(--secondary-rgba-5) 0px 5px 20px;
}

.todo__img {
  display: block;
  max-width: 50px;
  margin: 0 auto 20px;
}

.todo__title {
  color: var(--secondary);
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
}

.todo__copy {
  color: var(--text-color);
  font-weight: 400;
  margin: 0 0 30px 0;
  text-align: center;
}

.todo__title--bold {
  font-weight: 600;
}

.todo__list li {
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
  padding: 6px 0;
}

.todo__list li::after {
  display: block;
  content: "";
  clear: both;
}

.todo__list li span {
  margin-left: 2px;
}

.todo__list li:first-child {
  margin-top: 10px;
}

.todo__list li .btn {
  background-color: var(--button-color);
  border: 1px solid var(--border-color);
  border-radius: 2px;
  color: var(--text-color);
  cursor: pointer;
  float: right;
  font-size: 10px;
  margin-left: 10px;
  padding: 4px 6px;
}

.todo__list li .btn, input[type="button"] {
  -webkit-transition: all ease .6s;
  -o-transition: all ease .6s;
  transition: all ease .6s;
}

.todo__list li .btn:hover, .form__btn:hover {
  background-color: var(--button-color-hover);
}

.strike-out {
  text-decoration: line-through;
}

/* FORM */
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__text {
  background-color: var(--text-color);
  color: var(--button-color);
  font-weight: 600;
  border: 1px solid var(--border-color);
  padding: 8px;
}

.form__text:focus, .form__text:focus-visible {
  outline: none;
}

.form__text {
  border-radius: 3px 0px 0px 3px;
}

.form__btn {
  background-color: var(--button-color);
  border: 1px solid var(--border-color);
  border-radius: 0px 3px 3px 0px;
  color: var(--text-color);
  cursor: pointer;
}

input[type="checkbox"] {
  vertical-align: middle;
  margin: 3px 3px 3px 0;
}

input[type="checkbox"]:checked {
  accent-color: var(--secondary);
}

/* MEDIA QUERIES */

/* 576px BREAKPOINT */
@media screen and (min-width: 576px) {
  body {
    font-size: 16px;
  }

  .todo {
    padding: 75px;
  }

  .todo__img {
    max-width: 80px;
  }

  .todo__title {
    font-size: 42px;
  }

  .todo__list li .btn {
    font-size: 14px;
  }

  .form__text {
    padding: 12px;
    min-width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .todo {
    padding: 30px;
  }
}